
/// ----------------------------------------------------------------------------------------------- SECTION

section {
    @extend %clearfix;
    padding: 5em 0 2em;

    > h1 {
        font-size: 3rem;
        margin-bottom: .5em;
    }
}

/// ----------------------------------------------------------------------------------------------- SECTION DECORATIONS

@include b(cube) {
    background: #acd2f2;
    height: 50em;
    left: -25vw;
    position: absolute;
    transform: rotate(45deg);
    width: 50em;
    z-index: -2;
}
