
/// ----------------------------------------------------------------------------------------------- CONTAINER

@include b(container) {
    @extend %clearfix;
    margin: 0 auto;
    max-width: $layout--container-max-width;
    width: 80%;

    @include breakpoint(map-get($breakpoints, mobile)) {
        width: 90%;
    }
}

/// ----------------------------------------------------------------------------------------------- NAVIGATION

main {
    padding: 3em 0 1em;
}

footer {
    background: $black;
    padding: 1em 0;
    margin: 3em 0;

    p,
    span {
        color: $white;
        display: inline-block;
        font-size: 90%;
    }

    span {
        margin: 0 1em;
    }

    @include breakpoint(map-get($breakpoints, on-mobile)) {
        span {
            display: none;
        }
    
        p {
            display: block;
        }
    }
}