.container, section, .arts-container {
  *zoom: 1;
}

.container:before, section:before, .arts-container:before, .container:after, section:after, .arts-container:after {
  content: '';
  display: table;
}

.container:after, section:after, .arts-container:after {
  clear: both;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
a:focus {
  outline: none;
}

button {
  -webkit-appearance: none;
  background: none;
  box-shadow: none;
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

*.disabled,
*[disabled] {
  opacity: .5;
  pointer-events: none;
}

hr {
  margin: 0;
  padding: 0;
  display: block;
  height: 1px;
  border: 0;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Heading';
  src: url("../fonts/heading-webfont.woff2") format("woff2"), url("../fonts/heading-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

p {
  letter-spacing: normal;
}

p,
a,
label {
  font-size: 1rem;
}

a {
  color: #17BCD8;
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;
}

a p, a h1, a h2, a h3, a h4, a h5, a h6 {
  color: #404040;
}

small {
  font-size: .7rem;
}

h1, h2 {
  font-family: "Heading", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: normal;
  text-transform: uppercase;
}

h3, h4, h5, h6 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.8rem;
}

.bold {
  font-weight: bold;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  color: #404040;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #ffffff;
}

body {
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  width: 80%;
}

@media (min-width: 480px) {
  .container {
    width: 90%;
  }
}

main {
  padding: 3em 0 1em;
}

footer {
  background: #000000;
  padding: 1em 0;
  margin: 3em 0;
}

footer p,
footer span {
  color: #ffffff;
  display: inline-block;
  font-size: 90%;
}

footer span {
  margin: 0 1em;
}

@media (max-width: 767px) {
  footer span {
    display: none;
  }
  footer p {
    display: block;
  }
}

.navigation {
  background: rgba(255, 255, 255, 0.9);
  left: 0;
  position: fixed;
  right: 0;
  transition: top .15s ease-out;
  z-index: 4;
  padding: 0 0 1em 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

@media (min-width: 480px) {
  .navigation {
    height: 5em;
    line-height: 5em;
    text-align: right;
    padding: 0;
  }
}

.navigation__logo {
  height: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
}

@media (min-width: 480px) {
  .navigation__logo {
    float: left;
  }
}

.navigation__logo img {
  max-height: 3em;
}

.navigation__logo p {
  margin-left: .5em;
  opacity: .75;
  display: inline-block;
}

.navigation nav {
  display: inline-block;
}

.navigation nav a {
  color: initial;
  margin: 0 1.5em 0 0;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
}

@media (min-width: 480px) {
  .navigation nav a {
    margin: 0 0 0 1.5em;
  }
}

.navigation nav a.active::after, .navigation nav a.mv-focus-within::after {
  bottom: 0;
  left: -.5em;
  position: absolute;
  right: -.5em;
  top: 0px;
  background: #fff878;
  content: '';
  -webkit-transform: translate(0.25em, 0.25em) rotate(20deg);
  transform: translateY(0.25em) rotate(-5deg);
  z-index: -1;
}

section {
  position: relative;
  padding: 7.5em 0 0;
}

@media (min-width: 480px) {
  section {
    padding: 5em 0 2em;
  }
}

section > h1 {
  font-size: 3rem;
  margin-bottom: .5em;
}

.cube {
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -2;
}

.cube--top {
  width: 50em;
  height: 50em;
  left: -25vw;
  background: #acd2f2;
}

.cube--bottom {
  width: 25em;
  height: 25em;
  left: -10vw;
  background: yellow;
}

.arts::after {
  background: rgba(0, 0, 0, 0.1);
  z-index: -2;
  content: '';
  height: 25em;
  left: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: rotate(-3deg) translate(-50%, -50%);
          transform: rotate(-3deg) translate(-50%, -50%);
  width: 200vw;
}

.footer form {
  background: #ffffff;
  border: 1px solid grey;
  display: inline-block;
  margin: 3em 0 0;
  position: relative;
}

.footer form [type='email'] {
  width: 25em;
}

.footer form::after {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  content: '';
  -webkit-transform: translate(0.75em, 0.75em);
          transform: translate(0.75em, 0.75em);
  z-index: -1;
}

@media (min-width: 480px) {
  .footer .container > p {
    max-width: 70%;
  }
}

[type='text'],
[type='email'],
[type='password'],
[type='number'],
[type='submit'] {
  background: none;
  border: 0;
  box-shadow: none;
  font-size: 1rem;
  height: 3.5em;
  padding: 0 1em;
}

.about {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  padding: 2em 0 0 2em;
  width: 100%;
}

@media (min-width: 480px) {
  .about {
    margin-left: 2em;
    max-width: 70%;
    padding: 2em 2em 0;
  }
}

.arts-container {
  margin-left: -1em;
  width: calc(100% + 2em);
}

.arts-container .mv-add {
  line-height: 250px;
  margin: 1em;
  min-height: 250px;
  width: calc(33.33% - 2em);
}

.art {
  padding: 1em;
  width: 100%;
}

@media (min-width: 480px) {
  .art {
    float: left;
    width: 50%;
  }
  .art:nth-child(3n) {
    clear: left;
  }
}

@media (min-width: 1024px) {
  .art {
    width: 33.33%;
  }
  .art:nth-child(3n) {
    clear: none;
  }
  .art:nth-child(4n) {
    clear: left;
  }
}

.art__image {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  margin-bottom: 2em;
  min-height: 250px;
  position: relative;
}

.art__image::after {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  border: 3px solid #a3d39c;
  content: '';
  -webkit-transform: translate(0.75em, 0.75em);
          transform: translate(0.75em, 0.75em);
  z-index: -1;
}

.art__image img {
  opacity: 0;
  width: 100%;
  height: 250px;
}

.audio {
  margin-bottom: 2em;
}

.audio h3 {
  margin-bottom: .5em;
}

.audio__audio {
  background: #f26c4f;
  padding: 1.25em;
  position: relative;
}

.audio__audio audio {
  display: block;
  width: 100%;
}

.audio__audio::after {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  content: '';
  -webkit-transform: translate(0.75em, 0.75em);
          transform: translate(0.75em, 0.75em);
  z-index: -1;
}

.poem {
  clear: right;
  margin-bottom: 2em;
}

@media (min-width: 480px) {
  .poem {
    max-width: 50%;
  }
}

.poem h3 {
  margin-bottom: 1em;
}

.poem__poem {
  border: 2px solid black;
  display: inline-block;
  padding: 2em;
}

@media (max-width: 767px) {
  .poem__poem {
    width: 100%;
  }
}

.poem__poem p {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
}

@media (min-width: 480px) {
  .poem:nth-child(2n+1) {
    float: right;
  }
}

.mv-add {
  clear: both;
  background: none;
  border: 3px dotted rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 1.5rem;
}

.mv-add:hover {
  border: 3px dotted #a3d39c;
  cursor: pointer;
}
